*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
header{
  height: 100px;
  background-color: yellow;
  margin: 10px;
}
main{
  height: 500px;
}
main::after{
  content: "";
  display: block;
  clear: both;
}
.col-left{
  height:75%;
  width: 30%;
  background-color: #CC87DA;
  float: left;
  margin: 10px;
}
.col-centro{
  width:40%;
  height:98%;
  background-color: #730671;
  float:left;
  margin: 10px;
}
.col-right{
  height:95%;
  width:26%;
  float: left;
}
.double{
  height:40%;
  width:100%;
  margin:10px;
  background-color: #CC87DA;
}

footer{
  height:80px;
  background-color: #A4D2E1;
  margin:10px;
}
